#editors {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  min-height: 300px;
  justify-content: space-between;
  gap: 10px;
}

.editor {
  flex: 1;
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}

.menubar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.menubar button {
  padding: 5px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.menubar button.active {
  background-color: #ccc;
}

.menubar .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.captionedButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  font-size: 10px;
}

.captionedButton p {
  padding: 0;
  margin: 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.tab-container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.tab-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab {
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.tab.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}
